.write{
    padding-top:3.125rem;
    position:relative;

    .writeImg{
        margin-left: 9.375rem;
        width: 70vw;
        height: 19.625rem;
        border-radius: 0.625rem;
        object-fit: cover;
    }
    .writeForm{

        .writeFormGroup{
            margin-left:9.375rem;
            display: flex;
            align-items: center;

            i{
                width:1.5625rem;
                height:1.5625rem;
                border-radius: 50%;
                border: 1px solid;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.25rem;
                color:grey;
                cursor: pointer;
            }

            .writeInput{
                font-size: 1.875rem;
                border:none;
                outline:none;
                padding:1.25rem;
                width: 70vw;
            }

            .writeText{
                font-size: 1.25rem;
                height:100vh;
            }
        }

        .writeSubmit{
            position:absolute;
            top:3.2rem;
            right:6rem;
            color:white;
            background-color: teal;
            border:none;
            padding:1.25rem 2.5rem;
            border-radius: 0.625rem;
            cursor: pointer;
            font-size: 1.25rem;
        }
    }
}